@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
</head>

    <body>
    <div>
        <div>
            We're going to have an exciting party. <br />
            (To Do: Sell it Better. Add Pictures Or Something.)
        </div>
    </div>
    </body>
</html>